body{
    color: black;
    text-align: center;
    font-family: cursive;

}

#cabecera{
    text-align: initial;
    background-color: salmon;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.50);
    color:white;
    padding: 0  ;
    font-size: 2rem;
    font-weight: bold;
}

#cabecera #logo{
    
    width: 10rem;
    vertical-align: middle;
    
}

#cabecera #tagline{
    font-size: 1.5rem;
    font-weight: normal;
}

#container{
    width: 50%;
    border: 1px solid red;
    margin: 0 auto

}

#container h1 {
    font-size: 2rem;
}